In [2]:
import pandas as pd 
path ="C:\\Users\\91782\\OneDrive\\Desktop\\mango\\Data.csv"
data=pd.read_csv(path)

In [3]:
data

    No  Weight  Length  Circumference Grade
0    1   486.5    14.0           27.0     A
1    2   388.4    12.0           26.0     A
2    3   493.7    12.0           26.5     A
3    4   342.5    10.0           24.3     A
4    5   401.5    11.0           25.0     A
..  ..     ...     ...            ...   ...
62  63   448.3    12.5           26.0     B
63  64   289.2    11.0           21.8     B
64  65   381.4    12.5           24.0     B
65  66   298.1    11.3           22.5     B
66  67   420.5    12.6           26.0     B

[67 rows x 5 columns]

In [4]:
data.isnull().sum()

No               0
Weight           0
Length           0
Circumference    0
Grade            0
dtype: int64

In [5]:
inputs=data.drop(['No','Grade'],'columns')
outputs=data.drop(['No','Weight','Length','Circumference'],'columns')

C:\Users\91782\AppData\Local\Temp\ipykernel_7848\1168331784.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  inputs=data.drop(['No','Grade'],'columns')
C:\Users\91782\AppData\Local\Temp\ipykernel_7848\1168331784.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  outputs=data.drop(['No','Weight','Length','Circumference'],'columns')

In [6]:
import sklearn 
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(inputs,outputs,train_size=0.8)

In [8]:
from sklearn.svm import SVC
model=SVC()

In [9]:
model.fit(x_train,y_train)

C:\Users\91782\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [10]:
y_pred=model.predict(x_test)

In [11]:
print(y_test)
print(y_pred)

   Grade
60     B
27     A
53     B
0      A
9      A
62     B
11     A
51     B
58     B
50     B
16     A
35     B
54     B
56     B
['A' 'A' 'B' 'A' 'B' 'A' 'A' 'A' 'A' 'B' 'B' 'B' 'A' 'B']

In [13]:
import pandas as pd 
path ="C:\\Users\\91782\\OneDrive\\Desktop\\mango\\Data.csv"
data=pd.read_csv(path)

In [15]:
import sklearn 
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(inputs,outputs,train_size=0.8)

In [17]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [18]:
x_train=sc.fit_transform(x_train)

In [19]:
x_test=sc.transform(x_test)

In [20]:
from sklearn.svm import SVC
model=SVC()

In [21]:
model.fit(x_train,y_train)

C:\Users\91782\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [22]:
y_pred=model.predict(x_test)

In [23]:
print(y_test)
print(y_pred)

   Grade
19     A
28     A
51     B
39     B
4      A
22     A
6      A
46     B
36     B
23     A
44     B
17     A
63     B
54     B
['B' 'B' 'B' 'B' 'B' 'A' 'B' 'B' 'A' 'A' 'B' 'A' 'B' 'B']

In [24]:
from sklearn.metrics import confusion_matrix
cm= confusion_matrix(y_test,y_pred)
print(cm)

[[3 4]
 [1 6]]

In [25]:
data

    No  Weight  Length  Circumference Grade
0    1   486.5    14.0           27.0     A
1    2   388.4    12.0           26.0     A
2    3   493.7    12.0           26.5     A
3    4   342.5    10.0           24.3     A
4    5   401.5    11.0           25.0     A
..  ..     ...     ...            ...   ...
62  63   448.3    12.5           26.0     B
63  64   289.2    11.0           21.8     B
64  65   381.4    12.5           24.0     B
65  66   298.1    11.3           22.5     B
66  67   420.5    12.6           26.0     B

[67 rows x 5 columns]

In [27]:
result=model.predict([[381.4,12.0,26.0]])
print(result)

['A']